.navbar {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
  }
  
  .logoImg {  
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  
  
  /* Desktop Nav */
  .navLinks {
    display: flex;
    gap: 2rem;
  }
  
  .navLinks a {
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    color: #475569;
    position: relative;
    transition: color 0.2s ease;
  }
  
  .navLinks a:hover {
    color: #000000;
  }
  
  .navLinks a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition: width 0.2s ease;
  }
  
  .navLinks a:hover::after {
    width: 100%;
  }
  
  /* Hamburger Button */
  .menuBtn {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menuBtn span {
    width: 22px;
    height: 2px;
    background-color: #000000;
  }
  
  /* Mobile Menu */
  .mobileMenu {
    display: none;
  }
  
/* Fullscreen Mobile Menu */
.mobileOverlay {
    position: fixed;
    inset: 0;
    background-color: #ffffff;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 450px;
    box-shadow: 0px 2px 5px rgb(186, 186, 186);
  }
  
  /* Mobile Header */
  .mobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.mobileLogo{
    display: flex;
    align-items: center;
    width: 200px;
    height: 65px;
    transform: translateX(-20%);
  }

  .mobileLogoImg{
    height: 155%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  
  /* Close Button */
  .closeBtn {
    background: none;
    border: none;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
    color: #000000;
  }
  
  /* Mobile Nav Links */
  .mobileNavLinks {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 20px;
  }
  
  .mobileNavLinks a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
  }
  

  /* Responsive */
  @media (max-width: 768px) {
    .navLinks {
      display: none;
    }
  
    .menuBtn {
      display: flex;
    }
  
    .mobileMenu {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-top: 1px solid #e5e7eb;
      padding: 1rem 1.5rem;
      position: fixed;
      top: 80px;
      width: 100%;
    }
  
    .mobileMenu a {
      padding: 0.75rem 0;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: #000000;
    }

    .logo {
        display: flex;
        align-items: center;
        width: 200px;
        height: 200px;
        transform: translateX(-20%);
      }
      
      .logoImg {  
        height: 100%;
        width: 100%;
        object-fit: contain;
        cursor: pointer;
      }
  }
  